<ion-view title="About">
     <ion-header-bar class="bar-calm">
        <h1 class="title">Weather Trails</h1>
            <button class="button button-icon" ng-click="goToRegistration()">Register
              <i class="icon ion-person-add"></i>
            </button>    
         <button class="button button-icon" ng-click="goToLoginPage()">Login
              <i class="icon ion-log-in"></i>
            </button>   

        </ion-header-bar>
    <icon-content id="aboutpage">
        <img src="/img/WeatherTrails.png">
    </icon-content>
        </ion-view>