
    <ion-view view-title="Login"  ng-controller="loginCtrl">
        <ion-header-bar class="bar-positive">
        <h1 class="title">Doraa</h1>
            
        <button class="button button-icon" ng-click="redirectToRegistration()">Register
              <i class="icon ion-person-add"></i>
            </button>   
        </ion-header-bar>
        <ion-content>
          <button class="button button-energized button-block button-shape" ng-click="login()">Login
              
            </button>   
        </ion-content>
  
</ion-view>
    