
<ion-view title="Signup">
     <ion-header-bar class="bar-calm">
        <h1 class="title">Weather Trails</h1>
          <button class="button button-icon" ng-click="goToLoginPage()">Login
              <i class="icon ion-log-in"></i>
            </button>   

        </ion-header-bar>
    <ion-content padding="true" scroll="false" class="has-header">
       <form class="list" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

     
        <div class="row" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
            <div class="col"></div>
            <div class="col">
          <label class="item item-input">
            <input type="text" id="txt_Name" name="name" ng-bind="name" required placeholder="Name">
              </label>
                </div>
            <div class="col">
            <p class ="errorText" ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">You name is required.</p>
                </div>
        </div>

        <div class="row" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$error.required && !userForm.email.$pristine }">
            <div class="col"></div>
            <div class="col">
            <label class="item item-input">
            <input type="email" id="txt_userName" name="email"  ng-model="email" required placeholder="Username/Email">
                </label>
                </div>
            <div class="col">
            <p class ="errorText" ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            <p class ="errorText" ng-show="userForm.email.$error.required" class="help-block">Email required.</p>
                </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
        <button type="submit" class="button button-dark button-block button-shape">Sign up</button>
                </div>
            <div class="col"></div>
            </div>
    </ion-content>
</ion-view>
