<ion-view name="dashboardTabs">
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-controller="tabsContrlr">

   
     <ion-tab title="Weather information" icon-off="ion-ios-partlysunny-outline" icon-on="ion-ios-partlysunny">
   
         <ion-nav-view name="WeatherInfoPage"></ion-nav-view>
  </ion-tab>
    <ion-tab title="Your recent trips" icon-off="ion-ios-box-outline" icon-on="ion-ios-box">
   
         <ion-nav-view name="HistoryPage"></ion-nav-view>
  </ion-tab>
     
</ion-tabs>
    </ion-view>