<ion-view name="dashboardTabs">
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-controller="tabsContrlr">

   
     <ion-tab title="Weather information" icon-off="ion-ios-partlysunny-outline" icon-on="ion-ios-partlysunny" ng-click="goToWeatherInfo()">
   
         <ion-nav-view name="WeatherInfoPage"></ion-nav-view>
  </ion-tab>
    <ion-tab title="Your recent trips" icon-off="ion-ios-box-outline" icon-on="ion-ios-box" ng-click="goToHistory()">
   
         <ion-nav-view name="HistoryPage"></ion-nav-view>
  </ion-tab>
      <ion-tab title="Frequent users" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" ng-click="goToFrequentUsers()">
   
         <ion-nav-view name="FrequentUsers"></ion-nav-view>
  </ion-tab>
</ion-tabs>
    </ion-view>
